h1 {
    font-family: lobster;
    text-decoration: underline;
    font-size: 50px;
    padding: 40px 40px 20px 40px;
    color: red;
}
body {
    margin: 0px;
    color: black;
}
.container {
    display: flex;
    border: 5px solid green;
    flex-direction: column;
    flex-wrap: wrap;
}
#images {
    max-width: 500px;

}
 
#nav {
    font: 20px;
    position: relative;
    top: 95px;
}
a {
    color: black;

}
#head {
    display: flex;
    justify-content: space-evenly;
    font-family: lobster;
    text-decoration: underline;
    margin-right: 20px;
    
}
#nav {
    height:22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    margin-right: 20px;
}
#nav a {
    color:#ff0000;
    text-decoration: none;
    transition: color 0.5s;
    margin-right: 20px;
}
#nav:hover {
    border-bottom: 1px solid blue;
}
#nav a:hover {
    color: blue;
}
img:hover {
    -webkit-transform: scale(-1);
    transform: scaleX(-1);
}
