#navbar {
    background-color: rgb(255, 94, 0);
    width: 1120px;
    margin: auto;
    height: 22px;
    display: flex;
    }
#tag {
    position: relative;
    bottom: 13px;
    left: 9px;
    font-family: sans-serif; 
    font-size: 15px;

    }
.em {
    position: relative;
    bottom: 14px;
    left: 20px;
    }

#right {
    position: relative;
    left: 640px;
}
#background {
    background: rgba(235, 222, 222, 0.411);
    position: relative;
    width: 1120px;
    margin: auto;
    
}
#bdline {
    border-bottom: 0.25px;
    border-color: orange;
    border-style: solid;
    width: 1120px;
    margin: auto;
    position: relative;
}
#tagline {
    font-size: 15px;
    position: relative;
    left: 500px;
}
#btline {
    font-size: 13px;
    position: relative;
    left: 390px;
}
label {
    position: relative;
    left: 500px;
}
#main {
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.grey {
    font-size: 12px;
    color: grey;
    opacity: 0.9;
    position: relative;
    bottom: 15px;
    left: 20px;
}
.gray {
    font-size: 13px;
}
